body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tables-container {
  display: inline-block;
  vertical-align: top;

  .table {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
  }

  table {
    text-align: center;
    border-spacing: 0;

    th {
      font-weight: bold;
      text-transform: uppercase;
      background-color: rgba(89, 186, 182, 0.15);
    }

    th,
    td {
      padding: 3px 20px;
      border: 1px solid black;
    }

    td {
      border-top: 0;
      cursor: pointer;

      &:hover {
        background-color: #59bab6;
      }
    }
  }
}

.circle {
  display: inline-block;
  width: 500px;
}

.circle-container {
  svg {
    transition-duration: 0.5s;

    g {
      &.key {
        opacity: 0.5;

        &.active {
          opacity: 1;
        }
      }
    }
  }
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;

  .button {
    img {
      width: 50px;
      opacity: 0.5;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

.description-container {
  display: inline-block;
  vertical-align: top;
  margin: 50px 0 0 100px;

  .tabs {
    margin-bottom: 20px;

    .tab {
      display: inline-block;
      padding: 5px 10px;
      border-left: 1px solid;
      border-bottom: 1px solid;
      text-transform: uppercase;

      &.active {
        border-bottom: 0;
        border-top: 1px solid;
      }
    }
  }

  .description {
    &__title {
      display: inline-block;
      font-size: 20px;
      border-bottom: 1px solid #59bab6;
    }

    &__text {
      margin: 10px 0 20px;

      .harmony {
        &__item {
          display: inline-block;
          margin: 0 8px 5px 0;
          padding: 4px 10px;
          background-color: lightgrey;
        }
      }

      .triad {
        &__item {
          display: inline-block;
          margin-right: 25px;
        }
      }
    }
  }
}
