body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .circle {
//   position: relative;
//   margin: auto;
//   width: 500px;
//   height: 500px;
//   border: 1px solid;
//   border-radius: 50%;

//   .description {
//     width: 540px;
//     height: 540px;
//     border: 1px solid;
//     border-radius: 50%;
//     position: absolute;
//     top: -20px;
//     left: -20px;
//   }
// }
